# Virtual keyboard/mouse created by DDRDesk must be usable without root.
KERNEL=="uinput", GROUP="input", MODE="0660", OPTIONS+="static_node=uinput"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="DDRDesk Mouse", ENV{ID_INPUT}="1", ENV{ID_INPUT_MOUSE}="1", ENV{ID_SEAT}="seat0"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="DDRDesk Keyboard", ENV{ID_INPUT}="1", ENV{ID_INPUT_KEYBOARD}="1", ENV{ID_SEAT}="seat0"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="DDRDesk Remote", ENV{ID_INPUT}="1", ENV{ID_INPUT_KEYBOARD}="1", ENV{ID_INPUT_MOUSE}="1", ENV{ID_SEAT}="seat0"
